/**@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);*/

body {
	/**font-family: adobe-ocean,sans-serif;*/
	font-family: 'Nolan' !important;
}

\
/* Buttons */

.btn {
	padding: 0.6rem 1.2rem;
	border-radius: 4px;
}

.btn-sm {
	padding: 0.6rem 1.2rem;
	border-radius: 4px;
}

.btn-md {
	padding: 0.6rem 1.2rem;
	border-radius: 4px;
}

.btn-lg {
	padding: 1rem 2.6rem;
	border-radius: 4px;
}

.bg-primary {
	background-color: #6592e6 !important;
}

.bg-success {
	background-color: #40b0bf !important;
}

.bg-info {
	background-color: #47b5ed !important;
}

.bg-warning {
	background-color: #ffe161 !important;
}

.bg-danger {
	background-color: #ff9966 !important;
}

.btn-primary,
.btn-primary:active {
	background-color: #6592e6 !important;
	border-color: #6592e6 !important;
	color: #ffffff !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
	color: #ffffff !important;
	background-color: #2260d2 !important;
	border-color: #2260d2 !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #ffffff !important;
	background-color: #2260d2 !important;
	border-color: #2260d2 !important;
}

.btn-secondary,
.btn-secondary:active {
	background-color: #ff6666 !important;
	border-color: #ff6666 !important;
	color: #ffffff !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
	color: #ffffff !important;
	background-color: #ff0f0f !important;
	border-color: #ff0f0f !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
	color: #ffffff !important;
	background-color: #ff0f0f !important;
	border-color: #ff0f0f !important;
}

.btn-info,
.btn-info:active {
	background-color: #47b5ed !important;
	border-color: #47b5ed !important;
	color: #ffffff !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
	color: #ffffff !important;
	background-color: #148cca !important;
	border-color: #148cca !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-info.disabled,
.btn-info:disabled {
	color: #ffffff !important;
	background-color: #148cca !important;
	border-color: #148cca !important;
}

.btn-success,
.btn-success:active {
	background-color: #40b0bf !important;
	border-color: #40b0bf !important;
	color: #ffffff !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
	color: #ffffff !important;
	background-color: #2a747e !important;
	border-color: #2a747e !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-success.disabled,
.btn-success:disabled {
	color: #ffffff !important;
	background-color: #2a747e !important;
	border-color: #2a747e !important;
}

.btn-warning,
.btn-warning:active {
	background-color: #ffe161 !important;
	border-color: #ffe161 !important;
	color: #614f00 !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
	color: #0a0800 !important;
	background-color: #ffd10a !important;
	border-color: #ffd10a !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning.disabled,
.btn-warning:disabled {
	color: #614f00 !important;
	background-color: #ffd10a !important;
	border-color: #ffd10a !important;
}

.btn-danger,
.btn-danger:active {
	background-color: #ff9966 !important;
	border-color: #ff9966 !important;
	color: #ffffff !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
	color: #ffffff !important;
	background-color: #ff5f0f !important;
	border-color: #ff5f0f !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger.disabled,
.btn-danger:disabled {
	color: #ffffff !important;
	background-color: #ff5f0f !important;
	border-color: #ff5f0f !important;
}

.btn-white,
.btn-white:active {
	background-color: #fafafa !important;
	border-color: #fafafa !important;
	color: #7a7a7a !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
	color: #4f4f4f !important;
	background-color: #cfcfcf !important;
	border-color: #cfcfcf !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-white.disabled,
.btn-white:disabled {
	color: #7a7a7a !important;
	background-color: #cfcfcf !important;
	border-color: #cfcfcf !important;
}

.btn-black,
.btn-black:active {
	background-color: #232323 !important;
	border-color: #232323 !important;
	color: #ffffff !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
	color: #ffffff !important;
	background-color: #000000 !important;
	border-color: #000000 !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-black.disabled,
.btn-black:disabled {
	color: #ffffff !important;
	background-color: #000000 !important;
	border-color: #000000 !important;
}

.btn-primary-outline,
.btn-primary-outline:active {
	background-color: transparent !important;
	border-color: transparent;
	color: #6592e6;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
	color: #2260d2 !important;
	background-color: transparent!important;
	border-color: transparent!important;
	box-shadow: none!important;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
	color: #ffffff !important;
	background-color: #6592e6 !important;
	border-color: #6592e6 !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active {
	background-color: transparent !important;
	border-color: transparent;
	color: #ff6666;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
	color: #ff0f0f !important;
	background-color: transparent!important;
	border-color: transparent!important;
	box-shadow: none!important;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
	color: #ffffff !important;
	background-color: #ff6666 !important;
	border-color: #ff6666 !important;
}

.btn-info-outline,
.btn-info-outline:active {
	background-color: transparent !important;
	border-color: transparent;
	color: #47b5ed;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
	color: #148cca !important;
	background-color: transparent!important;
	border-color: transparent!important;
	box-shadow: none!important;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
	color: #ffffff !important;
	background-color: #47b5ed !important;
	border-color: #47b5ed !important;
}

.btn-success-outline,
.btn-success-outline:active {
	background-color: transparent !important;
	border-color: transparent;
	color: #40b0bf;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
	color: #2a747e !important;
	background-color: transparent!important;
	border-color: transparent!important;
	box-shadow: none!important;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
	color: #ffffff !important;
	background-color: #40b0bf !important;
	border-color: #40b0bf !important;
}

.btn-warning-outline,
.btn-warning-outline:active {
	background-color: transparent !important;
	border-color: transparent;
	color: #ffe161;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
	color: #ffd10a !important;
	background-color: transparent!important;
	border-color: transparent!important;
	box-shadow: none!important;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
	color: #614f00 !important;
	background-color: #ffe161 !important;
	border-color: #ffe161 !important;
}

.btn-danger-outline,
.btn-danger-outline:active {
	background-color: transparent !important;
	border-color: transparent;
	color: #ff9966;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
	color: #ff5f0f !important;
	background-color: transparent!important;
	border-color: transparent!important;
	box-shadow: none!important;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
	color: #ffffff !important;
	background-color: #ff9966 !important;
	border-color: #ff9966 !important;
}

.btn-black-outline,
.btn-black-outline:active {
	background-color: transparent !important;
	border-color: transparent;
	color: #232323;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
	color: #000000 !important;
	background-color: transparent!important;
	border-color: transparent!important;
	box-shadow: none!important;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
	color: #ffffff !important;
	background-color: #232323 !important;
	border-color: #232323 !important;
}

.btn-white-outline,
.btn-white-outline:active {
	background-color: transparent !important;
	border-color: transparent;
	color: #fafafa;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
	color: #cfcfcf !important;
	background-color: transparent!important;
	border-color: transparent!important;
	box-shadow: none!important;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
	color: #7a7a7a !important;
	background-color: #fafafa !important;
	border-color: #fafafa !important;
}

.text-primary {
	color: #6592e6 !important;
}

.text-secondary {
	color: #ff6666 !important;
}

.text-success {
	color: #40b0bf !important;
}

.text-info {
	color: #47b5ed !important;
}

.text-warning {
	color: #ffe161 !important;
}

.text-danger {
	color: #ff9966 !important;
}

.text-white {
	color: #fafafa !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
	color: #205ac5 !important;
}

a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
	color: #ff0000 !important;
}

a.text-success:hover,
a.text-success:focus,
a.text-success.active {
	color: #266a73 !important;
}

a.text-info:hover,
a.text-info:focus,
a.text-info.active {
	color: #1283bc !important;
}

a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
	color: #facb00 !important;
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
	color: #ff5500 !important;
}

a.text-white:hover,
a.text-white:focus,
a.text-white.active {
	color: #c7c7c7 !important;
}

.nav-tabs .nav-link.active {
	color: #6592e6;
}

.nav-tabs .nav-link:not(.active) {
	color: #232323;
}

.alert-success {
	background-color: #70c770;
}

.alert-info {
	background-color: #47b5ed;
}

.alert-warning {
	background-color: #ffe161;
}

.alert-danger {
	background-color: #ff9966;
}

.mbr-gallery-filter li.active .btn {
	background-color: #6592e6;
	border-color: #6592e6;
	color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
	box-shadow: none;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
	color: #ffffff;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
	color: #a0d8df;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
	color: #ffffff;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
	color: #ffffff;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
	color: #ffffff;
}


/* Scroll to top button*/

.scrollToTop_wraper {
	display: none;
}

.form-control {
	font-family: 'Nolan', sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
	font-weight: 400;
}

.form-control>.mbr-iconfont {
	font-size: 1.375rem;
}

.form-control:hover,
.form-control:focus {
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
	border-color: #6592e6 !important;
}

.form-control:-webkit-input-placeholder {
	font-family: 'Nolan', sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
	font-weight: 400;
}

.form-control:-webkit-input-placeholder>.mbr-iconfont {
	font-size: 1.375rem;
}
.image-wrap img {
    border-radius: 26px;
}
.about-us-img.about-us-img-mobile img {
    border-radius: 26%;
}

/* Forms */

.jq-selectbox li:hover,
.jq-selectbox li.selected {
	background-color: #6592e6;
	color: #ffffff;
}

.jq-number__spin {
	transition: 0.25s ease;
}

.jq-number__spin:hover {
	border-color: #6592e6;
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
	transition: 0.4s;
	border-top-color: #353535;
	border-bottom-color: #353535;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
	border-top-color: #6592e6;
	border-bottom-color: #6592e6;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
	color: #ffffff !important;
	background-color: #6592e6 !important;
	box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
	color: #000000 !important;
	background: #ff6666 !important;
	box-shadow: none !important;
}

.lazy-bg {
	background-image: none !important;
}

.lazy-placeholder:not(section),
.lazy-none {
	display: block;
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	height: auto;
}

iframe.lazy-placeholder,
.lazy-placeholder:after {
	content: '';
	position: absolute;
	width: 200px;
	height: 200px;
	background: transparent no-repeat center;
	background-size: contain;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

section.lazy-placeholder:after {
	opacity: 0.5;
}

body {
	overflow-x: hidden;
}

.mainquote blockquote {
	border-color: #6592e6;
}

.mainquote blockquote {
	color: #a7daff;
	position: absolute;
	margin: auto;
	border-left: none
}

.mainquote blockquote:after {
	content: no-close-quote;
}

.team-role {
	font-size: 12px;
	font-weight: 500;
	color: #17416D;
	/* line-height: 1.5; */
	letter-spacing: -0.16px;
	font-family: 'Lato', sans-serif;
}

.team-name {
	font-size: 25px;
	/* color: #2b3a4a; */
	letter-spacing: -1.8px;
	color: #000000;
	opacity: 1;
}

.team-desc p {
	font-size: 12px;
	font-weight: 500;
	color: #17416D;
	line-height: 1.5;
	letter-spacing: -0.16px;
	font-family: 'Lato', sans-serif;
}

.counter {
	text-align: center;
}

.employees,
.customer,
.design,
.order {
	margin-top: 0px;
	margin-bottom: 0px;
}

.teamheader h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 6px;
    letter-spacing: -2.8px;
    color: #17416D;
	    font-family: 'nolanlight';
}

.topbarcnt p {
	font-size: 12px;
	padding-bottom: 10px;
}

.icon-wrapper object {
	width: 38%;
	padding-left: 6px;
}

.dotGrid {
	background-size: 13px 13px;
	background-image: radial-gradient(#90B2CB 1.2px, transparent 0);
	width: 59%;
	height: 46%;
	position: absolute;
	opacity: 20%;
	top: -7.3rem;
	margin-left: 23rem;
}

.col-12.col-md-6.col-lg-4.socialDisp {
	margin-top: 3rem;
}

.mediabg1 {
	background: #F4FAFF;
	padding-bottom: 2rem;
	padding-top: 2rem;
	padding-left: 10px;
	padding-right: 10px;
}

.location {
	margin-top: 5rem;
	font-size: 30px;
	margin-bottom: 3rem;
	background-color: #F4FAFF;
	height: 21rem;
}

.bar-2 {
	background-color: #172738;
	height: 15rem;
}

.head h2 {
	/* align-content: center; */
	text-align: center;
	font-size: 35px;
	font-weight: 400;
	padding-bottom: 40px;
}

p.headquarters1 {
	opacity: 0;
}

.office-1 {
	padding-top: 1rem;
}

.office-2 {
	padding-top: 0.8rem;
}

.office-3 {
	padding-top: 1rem;
}

.office-1 h3 {
	font-size: 22px;
}

.office-2 h3 {
	font-size: 22px;
}

.office-3 h3 {
	font-size: 22px;
}

img.office-img {
	border-radius: 25px;
}

p.add-1 {
	padding-top: 0.5rem;
}

.bar-2 p {
	color: #ffff;
	font-size: 16px;
}

.bar-1 p {
	font-size: 13px;
}

.row.locaterow p {
	line-height: 1.5;
	font-size: 9px;
}

.location .container {
	width: 60%;
	text-align: center!important;
}

.bar-1:hover {
	background: #17416D;
	color: #FFFFFF;
	border-radius: 25px;
	height: 20rem;
}

.bar-1:hover p {
	font-size: 13px;
}

li.mashable {
	background: #F4FAFF;
}

li.techcrunch {
	background: #F4FAFF;
}

li.rollingstone {
	background: #F4FAFF;
}

.mainquote blockquote:hover {
	-webkit-animation: shake 1s ease-in-out 0.1s infinite alternate;
}

.location-header {
	padding-bottom: 2rem;
}

@-webkit-keyframes shake {
	from {
		-webkit-transform: rotate(10deg);
	}
	to {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(-10deg);
	}
}

.hdrseccnt p {
	line-height: 1.3;
	font-family: 'Lato';
	font-size: 13px;
	letter-spacing: 0.16px;
}


/**********************21-10-2020******************************/

.titlewrapper {
	padding-top: 5rem;
	padding-left: 10rem;
}

section.hdrsec2 {
	margin-bottom: 3rem;
}

section#about-us-section {
	margin-left: 15rem;
}

.titlewrapper h2 {
	font-size: 44px;
	font-weight: 400;
	line-height: 0.8;
	letter-spacing: -3px;
}

.hdrsec1 {
	background-color: #F4FAFF;
	min-height: 0rem;
	text-align: left;
	/* width: 70%; */
	margin-left: 10rem;
	/* padding-bottom: 39px; */
}

.dotGrid {
	background-size: 16px 16px;
	background-image: radial-gradient(#90B2CB 1.2px, transparent 0);
	width: 77%;
	height: 40%;
	position: absolute;
	opacity: 20%;
	top: 1rem;
	margin-left: 14rem;
}

.wrapper {
	/* top: -32px; */
	display: flex;
	position: absolute;
	top: 12rem;
}

.hdrseccnt {
	padding-top: 4rem;
	margin-left: 16px;
}

.hdrseccnt li:before {
	content: '■';
	position: absolute;
	/* top: 3em; */
	margin-left: -25px;
	margin-top: -3.5px;
	/* margin-top: -0.1em; */
	font-size: 1.2em;
	font-size: 14px;
}

.hdrseccnt li {
	font-size: 12px;
	color: #17416D;
	/* padding-top: 0em; */
	font-weight: 400;
	font-style: normal;
	font-family: 'Lato';
	letter-spacing: -0.16px;
}

.hdrseccnt ul {
	list-style: none;
	list-style-position: outside;
	padding-right: 6rem;
}

.masksec img {
	width: 40% !important;
	height: 17rem !important;
}

.mediamasksec img {
	width: 120px !important;
	height: 17rem !important;
}

.media-smallbox {
	width: 27px;
	height: 25px;
	position: absolute;
	top: 2rem;
	margin-left: 1.3rem;
	opacity: 0.5;
}

.mediamasksec {
	position: absolute;
	z-index: 0;
	top: -1.8rem;
	/* margin-right: 3rem; */
	margin-left: -1rem;
	display: block;
}


/****max-width: 991px ************/

@media (max-width: 991px) {
	.card-wrap {
		margin-bottom: 2rem;
	}
	.counter-count {
		font-size: 32px;
		font-family: 'Nolan', sans-serif;
		position: relative;
		color: #1f7ad9;
		text-align: center;
		line-height: 40px;
	}
	.employee-p,
	.customer-p,
	.order-p,
	.design-p {
		font-size: 12px;
		color: #000000;
		line-height: 0px;
		font-family: 'Nolan', sans-serif;
	}
	.masksec {
		display: none;
	}
	.bgcnt {
		background: #414141;
		/* padding-left: 99px !important; */
		/* padding-right: 89px !important; */
		color: #d6e7f4;
		padding-top: 20px;
		padding-bottom: 22px;
		text-align: center;
	}
}


/****min-width: 992px ************/

@media (min-width: 992px) {
	.bgcnt {
		background: #414141;
		padding-left: 99px !important;
		padding-right: 89px !important;
		color: #d6e7f4;
		padding-top: 20px;
		padding-bottom: 22px;
	}
	.cid-sckQQU9Jtk .item-wrapper .item-content {
		padding: 2rem 2rem 0;
	}
	.cid-sckQQU9Jtk .item-wrapper .item-footer {
		padding: 0 2rem 2rem;
	}
	.navbar-nav li {
		background: #3c4247;
		margin-left: 1px;
	}
	.navi {
		background: #292f33 !important;
	}
}

.navi {
	background: #292f33 !important;
}

.justify-content-margin {
	margin-right: -7.1rem !important;
	margin-left: -6rem !important;
}

.cmtBg {
	margin-left: -6.1rem;
	margin-right: -8.1rem
}

.teamMar {
	margin-left: 2.5rem;
	margin-right: 4.5rem;
}

.bgcnt p {
	font-size: 48px !important;
	font-family: 'Nolan', sans-serif;
	font-weight: 100;
	letter-spacing: -3px;
}

.teamContainerRow {
	margin-left: 40px;
	margin-right: 65px;
	margin-top: 30px;
}

.teamContainerRow>[class*="col"] {
	padding-left: 25px;
	padding-right: 25px;
}

.counter .row>[class*="col"] {
	padding-left: 0px;
	padding-right: 0px;
}

.image-wrapper {
	padding-left: 5rem;
}

.imgContainer {
	position: absolute;
	top: 13em;
	background: transparent;
	margin-left: 3rem;
}

.hdrsec1 {
	background-color: #F4FAFF;
	/* min-height: 0rem; */
	text-align: left;
	margin-top: 2rem;
	height: 5rem !important;
	width: 100% !important;
}

.counter-count {
	font-size: 42px;
	font-family: 'Nolan', sans-serif;
	position: relative;
	color: #1f7ad9;
	text-align: center;
	line-height: 40px;
}

.employee-p,
.customer-p,
.order-p,
.design-p {
	font-size: 15px;
	color: #000000;
	line-height: 0px;
	font-family: 'Nolan', sans-serif;
}

.media-icon-wrapper>[class*="col"] {
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

.media-icon-wrapper object {
	width: 12%;
	height: 15%;
	display: block;
}

.media-icon-wrapper p {
	padding-top: 32px;
	font-size: 12px;
	color: #17416D;
	font-weight: 500;
	line-height: 1.3;
	font-family: 'Lato';
	letter-spacing: -0.16px;
}

.mediaAlign {
	/* font-size: 24px; */
	/* padding-top: 65px; */
	/* border-right-color: black; */
	/* border-right: groove; */
	display: inline-flex;
}


/*new change 20-10-2020*/

img.people-IMG {
	z-index: 1;
	position: relative;
}

.col-sm-2.align-center.mediaAlign {
	padding-left: 36px;
	margin-top: -1.5rem;
}

.col-sm-2.align-center.mediaAlign p {
	font-size: 34px;
	font-weight: 500;
	padding-top: 3rem;
}

.col-sm-10.mediaDtlCol {
	text-align: center;
	padding-left: 0px;
}

.row.media-icon-wrapper li {
	margin-left: 8px;
	margin-right: 8px;
	/* padding-left: 0px; */
}

.locaterow>[class*="col"] {
	padding-left: 12px;
	padding-right: 12px;
}

.horizontalLine {
	background-color: #707070;
	height: 113px;
	width: 1px;
}

.mainquote blockquote:before {
	content: "\201C";
	position: absolute;
	top: -88px;
	margin-left: -2.5rem;
	left: 0;
	font-family: 'Nolan', sans-serif;
	font-size: 138px;
	font-style: normal;
}

.bar-1 {
	background-color: #F4FAFF;
	height: 13rem;
}

.row.media-icon-wrapper ul {
	display: flex;
	list-style: none;
	text-align: center;
	margin-left: -2rem;
	/* padding-left: 26px; */
}

.row.media-icon-wrapper ul li {
	width: 13.5%;
	/* padding-left: 0px; */
}


}
.media-icon-wrapper img {
	display: inline;
}
.forbes img {
	width: 67%;
}
.forbes img {
	width: 67%;
}
.clnet img {
	width: 36%;
}
.mediabg2 {
	padding-bottom: 2rem;
	padding-top: 2rem;
	padding-left: 10px;
	padding-right: 10px;
}
.mashable img {
	width: 88%;
}
.wired img {
	width: 88%;
}
.techcrunch img {
	width: 100%;
}
.digest img {
	width: 66%;
}
.rollingstone img {
	width: 85%;
}
.nav-item.navi {
	padding-top: 22px;
	padding-left: 20px;
	padding-right: 42px;
}
.navi img {
	/* padding-left: 0em; */
	
	width: 18px;
}
.webrow {
	display: block;
	    padding-top: 50px
}
.mblrow {
	display: none;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */

/* 100vw - current viewport width */

/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */

/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
	
	.display-1 {
		font-size: 3.68rem;
	}
	
	.media-icon-wrapper>[class*="col"] {
		padding-top: 30px;
	}
	
	.col-sm-10.mediaDtlCol {
		text-align: center;
		padding-left: 0px;
	}
	
	.media-icon-wrapper object {
		width: 6%;
		display: block;
	}
	
	section.mediasec {
		margin-top: 3rem;
		margin-bottom: 3rem;
		margin-left: 3rem;
		margin-right: 3rem;
		padding-bottom:3rem;
	}
	
	.mediaAlign {
		font-size: 28px;
	}
	
	.horizontalLine {
		background-color: #707070;
		height: 0px;
		width: 0px;
	}
	
	.mainquote blockquote:before {
		content: "\201C";
		position: absolute;
		top: -88px;
		margin-left: 7.5rem;
		left: 0;
		font-family: 'Nolan', sans-serif;
		font-size: 138px;
		font-style: normal;
	}
	
	.bar-1 {
		background-color: #f5feff;
		height: 10rem;
		/* padding-bottom: 30px; */
		margin-bottom: 0px;
		width: 180%;
		margin-left: -80px;
		margin-bottom: -15px;
	}
	
	.row.media-icon-wrapper ul {
		list-style: none;
		text-align: center;
		margin-left: -2rem;
		/* padding-left: 26px; */
	}
	
	.row.media-icon-wrapper ul li {
		width: 13.5%;
		display: inline;
		/* padding-left: 0px; */
	}
	
	.mediabg1 img {
		margin-bottom: 2rem;
	}
	
	.mediabg2 img {
		margin-bottom: 2rem;
	}
}
@media (max-width: 768px) {
	.hdrsec1 {
		background-color: #F4FAFF;
		min-height: 0rem;
		margin-left: 0rem;
		padding-top: 3em/* text-align: right; */
		;
		margin-top: 3rem;
		height: 4rem;
	}
	
	.topbarcnt h2 {
		font-size: 26px;
		font-weight: 500;
		line-height: 0.7;
		letter-spacing: -2px;
	}
	
	.mb-imgpos {
		margin-top: -17rem;
	}
	
	.titlewrapper {
		    padding-top: 0rem;
    padding-left: 2.5rem;
    margin-top: -2.5rem;
		
	}
	
	.wrapper {
		top: 7.5rem !important;
		display: inline;
		position: absolute;
		/* top: 12rem; */
	}
	
	.hdrseccnt {
		padding-top: 3rem;
		margin-left: 16px;
	}
	
	section.hdrsec2 {
		margin-bottom: 0rem;
		padding-top: 0rem;
		width: auto;
	}
	
	.media-smallbox {
		display: none;
	}
	
	.content-wrap {
		padding-top: 2rem;
	}
	
	.webrow {
		display: none;
	}
	.teamheader h2 {
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    padding-bottom: 6px;
    letter-spacing: -2.8px;
    color: #17416D;
	 font-family: 'nolanlight';
}
	.mblrow {
		display: block;
	}
	
	section.mediasec {
		/* margin-top: 34rem; */
		margin-bottom: 3rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}
	.row.topbarcnt {
    padding-left: 2rem;
    padding-right: 2rem;
}
}
@media (max-width: 767px) {
	img.office-img {
		display: none;
	}
	
	.
	/*landing screen update*/
	
	.slider1 .carousel-inner .carousel-caption {
		width: 80%;
		margin: 0 auto 0;
		top: -107px;
		height: 100%;
		position: relative;
		z-index: 9999;
		bottom: unset;
		height: auto;
		z-index: 99;
		width: 80%;
		left: unset;
		right: unset;
	}
	
	.benefit-section {
		padding-top: 90px !important;
		margin-top: -50px;
		padding-bottom: 0 !important;
	}
	
	.benefit-section .benefitContent {
		width: 80%;
		margin: 0 auto;
	}
	
	.benefit-section .custcnt .col-4 {
		width: 100%;
		display: block;
		max-width: 100%;
		flex: 100%;
		margin-bottom: 20px;
	}
	
	.benefit-section .custcnt .col-4 .benefit-count {
		font-size: 36px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -1.01px;
	}
	
	.benefit-section .custcnt .col-4 .countCnt-p {
		font-size: 18px;
		line-height: 20px;
		width: 60%;
		margin: 0 auto;
	}
	
	.benefit-Bg {
		position: inherit !important;
		background-color: #fff;
		padding-top: 30px !important;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	section.section3 {
		padding-top: 0 !important;
	}
	
	.benefit-Bg .benefit-title {
		padding: 0;
		width: 100%;
		text-align: center;
		font-size: 36px;
		font-family: 'Lato';
	}
	
	.consumer.target .head,
	.business.target .tit-bus {
		width: 100%;
		text-align: center;
		height: auto;
		padding: 0;
		margin-top: 0;
	}
	
	.consumer.target h2,
	.business.target .tit-bus h2 {
		text-align: center;
		padding: 20px 0;
		height: auto;
	}
	
	.consumer.target .container .con-border,
	.business.target .container .bus-border {
		border: 0;
		width: 90%;
		margin: 0 auto 110px;
	}
	
	.business .container {
		padding-top: 80px;
		padding-bottom: 10px;
	}
	
	.business.target .tit-bus {
		position: absolute;
		top: -32px;
		left: 0;
	}
	
	.business.target .container .bus-border {
		margin: 0 auto 60px !important;
	}
	
	.business.target .container .bus-border .aos-init {
		padding: 0;
	}
	
	.partner-highlighttxt {
		width: 100% !Important;
	}
	
	.partner-highlighttxt p {
		text-align: center;
		padding: 20px 0 !important;
		height: auto;
		width: 100%;
	}
	
	.partnersec .partner-img img.partnersec-img {
		width: 100%;
		height: 150px;
		display: block;
	}
	
	.partnersec .partner-img img {
		display: none;
	}
	
	.partnerdiv .partnersec-txt {
		width: 85%;
		margin: 0 auto 0;
		padding-top: 20px;
	}
	
	.countCnt {
		margin-top: 0px;
		margin-bottom: 22px;
	}
	
	section#about-us-section {
		margin-left: 0rem;
		margin-top: 3rem;
	}
	/*landing screen update ends*/
}
@media (min-width: 768px) {
	.card-wrap .content-wrap {
		padding-top: 1rem;
		font-family: 'Nolan', sans-serif;
	}
	
	.topbarcnt h2 {
		font-size: 44px;
		font-weight: 400;
		line-height: 0.7;
		letter-spacing: -3px;
		margin-top: -3.5rem;
	}
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {}
@media (min-width: 992px) {
	.topbarcnt {
		margin-right: 176px !important;
	}
	
	.image-wrapper {
		padding-left: 5rem;
	}
	
	.masksec {
		position: absolute;
		z-index: 0;
		top: -1.8rem;
		/* margin-right: 3rem; */
		margin-left: -6rem;
		display: block;
	}
}
@media (max-width: 992px) {
	p.headquarters1 {
		opacity: 0;
	}
	
	.bar-1:hover {
		background: #17416D;
		color: #FFFFFF;
		border-radius: 0px;
		height: 10rem;
		width: 180%;
	}
	
	.location {
		margin-top: 3rem;
		margin-bottom: 3rem;
		height: auto;
		background: white;
	}
}

/*a#solution {
    display: none;
}*/
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide2 {
	text-align: left !important;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: left !important;
	-ms-flex-pack: left !important;
	-webkit-justify-content: left !important;
	justify-content: left !important;
	-webkit-box-align: left !important;
	-ms-flex-align: left !important;
	-webkit-align-items: left !important;
	align-items: left !important;
}
