.camera-head h2 {
	text-align: center;
	padding-top: 4rem;
	font-size: 36px;
	font-weight: 500;
	margin-left: -6rem;
	font-family: "nolanlight";
	letter-spacing: -2.8px;
}

.camera-head p {
	text-align: center;
	padding-top: 1rem;
	font-size: 14px;
	font-family: 'Lato';
	font-weight: 300;
	padding-left: 9rem;
	padding-right: 10rem;
	margin-bottom: 20px;

}

.case-head h2 {
    color: #17416d;
    font-weight: 100;
    margin-bottom: 30px;
}

ul.camera-libary {
	list-style-type: none;
	display: flex;
}

img.scrip-IMG {
    width: 250px;
    margin-top: 29rem;
    position: absolute;
    height: 25.5rem;
    /* left: 324px; */
    z-index: 1;
	right: 0px;
	position: absolute;
    top: -500px;
    transform: rotate(90deg);
	left: -120px;
	
                /* float: right; */
}

.camera {
	width: 100%;
/*		margin-top: -26rem;*/
}

.demos-camera h1 {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding-top: 2rem;
	padding-bottom: .5rem;
	font-family: 'Lato';
	margin-bottom: 0;
}

.demos-camera p {
	text-align: center;
	padding-right: 2rem;
	padding-left: 2rem;
	font-size: 12px;
	font-family: "Lato";
	font-weight: 100;
	letter-spacing: -0.16px;
	color: #000000;
	line-height: 1.2;
}

.demos-camera {
	height: 20rem;
	margin-left: 44px;
	margin-top: 2rem;
	width: 100%;
	/* background-color: beige;  */
	border-radius: 35px;
    opacity: 1;
}



.babycamera h1 {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding-top: 2rem;
	padding-bottom: 1rem;
	font-family: 'Lato';
}

.babycamera p {
	line-height: 1.2;
	/* color: #496a8d; */
	text-align: center;
	padding-right: 2rem;
	padding-left: 2rem;
	font-size: 12px;
	font-family: "Lato";
	font-weight: 100;
	letter-spacing: -0.16px;
	color: #000000;
}

.babycamera {
	height: 20rem;
	width: 82%;
	margin-left: -46px;
	/*	margin-top: -1rem;*/
	margin-top: 2rem;
}


.doorbell h1 {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding-top: 2rem;
/*	padding-bottom: 1rem;*/
	font-family: 'Lato';
}

.doorbell p {
	line-height: 1.2;
	/* color: #496a8d; */
	text-align: center;
	padding-right: 2rem;
	padding-left: 2rem;
	font-size: 12px;
	font-family: "Lato";
	font-weight: 100;
	letter-spacing: -0.16px;
	color: #000000;
}

.outdoor h1 {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding-top: 2rem;
/*	padding-bottom: 1rem;*/
	font-family: 'Lato';
}

.outdoor p {
	line-height: 1.2;
	/* color: #496a8d; */
	text-align: center;
	padding-right: 2rem;
	padding-left: 2rem;
	font-size: 12px;
	font-family: "Lato";
	font-weight: 100;
	letter-spacing: -0.16px;
    color: #000000;
    text-align: left;
}

.outdoor {
	height: 10rem;
	width: 82%;
	margin-left: -104px;
	background-color: transparent;
}

img.demoscamera1-img {
	width: 100%;
	/* margin-top: 50px; */
	/* transform: scale(0.6); */
	margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

img.demoscamera2-img {
	/* width: 62%; */
	width: 100%;
	/* margin-top: -75px; */
	transform: scale(0.8);
	margin-left: auto;
	margin-right: auto;
}

img.demoscamera3-img {
	margin-top: -110px;
	margin-left: auto;
	margin-right: auto;
	transform: scale(0.45);

}

img.demoscamera4-img {
	width: 100%;
	margin-top: 50px;
	/* transform: scale(0.6); */
	margin-left: auto;
	margin-right: auto;
}
div.demos2-img {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 305px;
}

.baby-camera-margin-btm {
	margin-bottom: 160px;
}


/* img.demoscamera4-img {
	width: 70%;
	margin: 25px auto;
} */

img.homesec-img {
	margin-left: -68.9px;
	width: 15%;
	height: 10rem;
	margin-top: 326px;
}

img.homesec1-img {
	width: auto;
	margin-top: -160px;
	height: 10rem;
	right: 5px;
	position: absolute;
}

.camerasec .camera-libary {
	margin: 0 auto  !important;
	width: 100%;
	padding: 0;
}

.camera-libary li {
	width: 23.3%;
	margin: 0 13px;
}

.camera-libary li:nth-child(2) {
	/*	margin-top: -39px;*/
	border-radius: 25px;

}

.camera-libary li > div {
/*	height: auto;*/
	margin: 0;
	margin-top: 0px;
	margin-top: 0;
    width: 100%;
    margin-left: -90px;
}

.camera-libary li:nth-child(3) p {
	/* padding-bottom: 18px; */
}

.floating-form {
  width:100%;
}

/****  floating-Lable style start ****/
.floating-label { 
  position:relative; 
  /* margin-bottom:3rem;  */
  width: 33.33%;
  float: left;
}
.floating-label2 { 
  position: relative; 
  margin-bottom:3rem; 
  top: 5rem;
  margin-bottom: 10rem;
}

/* .floating-label  .label2 {
    width: 100%;
    float: unset;
    top: 5rem;
    margin-bottom: 10rem;
} */
.floating-input , .floating-select {
    font-size: 15px;
    padding: 4px 4px;
    /* display: block; */
    width: 70%;
    /* float: left; */
    height: 30px;
    background-color: transparent;
    border: none;
    align-content: right;
    margin-left: 21px;
    border-bottom: 2px solid #17416D;
}

.floating-input2 {
    font-size: 15px;
    padding: 4px 4px;
    display: block;
    width: 90%;
    /* float: left; */
    height: 30px;
    background-color: transparent;
    border: none;
    align-content: right;
    margin-left: 21px;
    border-bottom: 2px solid #17416D;
}
.floating-label label::before {
     /* content: "*"; */
    padding-right: 10px;
    position: absolute;
    margin-left: -14px;
    margin-top: 4px;
}
.floating-input:focus , .floating-select:focus {
     outline:none;
     border-bottom:2px solid #17416D; 
}
.required:before { content:" *"; }
label {
    /* color: #17416D; */
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 300;
    /* font-weight: normal; */
    position: absolute;
    pointer-events: none;
    left: 22px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-18px;
  font-size:15px;
  color:#17416D;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-18px;
  font-size:15px;
  color:#17416D;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
   min-height: 70px ;
   max-height: 260px; 
   overflow:hidden;
  overflow-x: hidden; 
  margin-top: 5rem;
}
.floating-textarea:focus ~ label, .floating-textarea:not(:placeholder-shown) ~ label {
  top:-30px !important;
  height:50px;
  font-size:14px;
  color:#17416D;
}

.floating-textarea:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-30px !important;
  font-size:14px;
  height:50px;
  color:#17416D;
}
/* highlighter */
.highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
	from { background:#17416D; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#17416D; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#17416D; }
  to 	{ width:0; background:transparent; }
}
/***   daniel - Fork me friend - style   ***/
.floating-credit { position:fixed; bottom:10px;right:10px; color:#aaa; font-size:13px;}
.floating-credit a { text-decoration:none; color:#000000; font-weight:bold; }
.floating-credit a:hover { border-bottom:1px dotted #17416D; }
.floating-heading { position:fixed; color:#aaa; font-size:20px; }
/***  daniel - Fork me friend - style  ***/


.contactsec-form {
      /* background: #D6E7F4; */
    padding-top: 2.5rem;
    /* padding-left: 3rem; */
    padding-bottom: 2.5rem;
    /* padding-right: 3rem; */
}
.contactsec-form h2 {
    font-size: 32px;
    font-weight: 600;
    color: #17416D;
}
.contactsec-formhead {
    margin-bottom: 2.5rem;
}
input.tbtn {
    background: #17416D;
    font-size: 11px;
    font-weight: 700;
    color: #D6E7F4;
    font-weight: 700;
    width: 77px;
    height: 29px;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 20px;
}

.some-page-wrapper {
    margin: 15px;
	  width: 16%;
	  margin-top: 100px;
	  margin-right: 30px;
	  margin-left: 30px;
  }

  #locations-row {
	margin-bottom: 5rem;
    margin-top: -25px;
    /* margin-left: 150px; */
    margin-right: 150px;

}

  .locations-img-container {
    margin: 0;
    text-align: center;
    position: relative;
    margin-right: -100px;
    /* margin-top: -30px; */
    margin-left: 300px;
}
.locations-img {
    width: 70%;
    height: auto;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 70px;
}

.location-mask {
    position: absolute;
    /* top: 57%; */
    /* transform: rotate(90deg); */
    left: -50px;
    /* max-height: 400px; */
    margin-top: -20px;
    transform: rotateX(45deg);
    /* transform: scale(1.0); */
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.mandatoryRow {
    text-align: right;
    padding-top: 10px;
    font-size: 10px;
	padding-right: 1rem;
}
.mandatoryRow p {
    font-weight: 500;
}
.addrCol p {
   font-size: 15px;
    line-height: 0.2;
    font-weight: 300;
}
p.contactsec-brntitle {
    color: #17416D;
    font-weight: bold;
	 padding-bottom: 3px;
     font-size: 16px;
     text-align: left;

}
.contactsec-num {
    padding-bottom: 1px;
}
.contactsec-addr {
   padding-bottom: 1.2rem
}
.addrCol hr {
    width: 70%;
    text-align: left;
    margin-left: 0px;
	    padding-top: 16px;
    /* padding-top: 3px; */
    /* height: 2px; */
    border-width: 1.5px;
    border-color: #D6E7F4;
}

.contactsec-form form .floating-form .floatinglabelhead {
    display: none;
}
.dotGrid1 {
    background-size: 30px 32px;
    /* background-image:radial-gradient(#DDEEFA 2.7px, transparent 0); */
    width: 48%;
    height: 228px;
    position: absolute;
    opacity: 80%;
    top: -2.5rem;
    float: left;
    padding-left: -11rem;
    margin-left: 36rem;
}
.txtarea-lable{
	    top: 40px !important;
}
@media (min-width: 992px){
.addrCol {
    padding-left: 40px !important;
    padding-right: 0px !important;
	    font-family: 'Lato';
}

@media (min-width: 992px) {
    .container {
      padding-left: 16px;
      padding-right: 16px;
    }
    .row {
      margin-left: -16px;
      margin-right: -16px;
    }
    .row > [class*="col"] {
      /* padding-left: 70px; */
      padding-right: 16px;
    }
  }

.contactsection{
	margin-top: 2rem;
    /* margin-left: 10rem; */
	margin-bottom: 2rem;
}
.contactsec-headrow h2 {
      font-size: 40px;
    font-weight: 400;
    padding-bottom: 1.5rem;
    font-weight: 500;

}
.contactsec-headrow2 h2 {
      font-size: 40px;
    font-weight: 400;
    padding-bottom: 1.5rem;
    font-weight: 500;
    color: #17416D;
    font-family: "nolanlight";
    text-align: center;
    margin-left: 15rem;

}
.contactsec-headrow p {
    font-size: 15px;
     font-family: 'Lato';
    line-height: 1.4;
    font-weight: 300;
}
.container.contactdiv {
    margin-top: 1.5rem;
}
.maskrow {
    position: absolute;
    z-index: 0;
    /* margin-right: 3rem; */
    margin-top: -20rem;
    margin-left: 65%;
}
.maskrow img {
       float: right;
    width: 300px;
    height: 19.5rem;
}
.contactdiv > [class*="col"] {
    padding-left: 70px;
    padding-right: 0px;
}
}
@media (max-width: 992px){
.contactsection{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.contactsec-headrow h2 {
      font-size: 40px;
    font-weight: 400;
    padding-bottom: 1.5rem;
}
.contactsec-headrow p {
   font-size: 17px;
    font-family: 'Lato';
    line-height: 1.4;
    font-weight: 300;
}
.addrCol {
    padding-left: 40px;
    padding-right: 16px;
}
}
@media (max-width: 768px){

/****  floating-Lable style start ****/
.floating-label { 
    position:relative; 
    /* margin-bottom:3rem;  */
    width: 100%;
    /* float: left; */
  }
  .floating-label2 { 
    /* position: relative;  */
    margin-bottom:3rem; 
    top: 20rem;
    margin-bottom: 10rem;
  }
  
  /* .floating-label  .label2 {
      width: 100%;
      float: unset;
      top: 5rem;
      margin-bottom: 10rem;
  } */
  .floating-input , .floating-select {
      font-size: 15px;
      padding: 4px 4px;
      /* display: block; */
      width: 80%;
      /* float: left; */
      height: 30px;
      background-color: transparent;
      border: none;
      align-content: right;
      margin-left: 21px;
      border-bottom: 2px solid #17416D;
  }
  
  .floating-input2 {
      font-size: 15px;
      padding: 4px 4px;
      display: block;
      width: 90%;
      /* float: left; */
      height: 30px;
      background-color: transparent;
      border: none;
      align-content: right;
      margin-left: 21px;
      border-bottom: 2px solid #17416D;
  }

    .contactsection{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.container.contactdiv {
    margin-top: 1.5rem;
	padding-right: 0px;
    padding-left: 0px;
}
.contactsec-headrow h2 {
         font-size: 30px;
    font-weight: 400;
    padding-bottom: 1rem;
}
.contactsec-headrow p {
    color: #17416D;
	font-size: 12px;
    font-family: 'Lato';
    line-height: 1.4;
    font-weight: 300;
    text-align: center;
    margin-left: -50px;
}
.contactsec-headrow {
    padding-left: 15%;
    padding-right: 15%;
}
.addrCol {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
}
.contactsec-form h2 {
    font-size: 22px;
    font-weight: 500;
    color: #17416D;
}
.maskrow {
    position: absolute;
    z-index: 0;
    /* margin-right: 3rem; */
    margin-top: -20rem;
    margin-left: 80%;
}
.maskrow img {
       float: right;
    width: 300px;
    height: 19.5rem;
}
.addrCol hr {
    width: 100%;
    text-align: left;
    margin-left: 0px;
	    padding-top: 16px;
    /* padding-top: 3px; */
    /* height: 2px; */
    border-width: 1.5px;
    border-color: #D6E7F4;
}
}

@media (max-width: 767px) {
	.contactsection .contactsec-headrow {
	background-color: #f4faff;
	display: block;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 10px 10px 70px;
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
	width: 100%;
}
.contactsection {
    margin-top: 8px;
}

.contactsec-form {
    background: #D6E7F4;
  padding-top: 2.5rem;
  /* padding-left: 3rem; */
  padding-bottom: 2.5rem;
  /* padding-right: 3rem; */
}
.dotGrid1 {
    background-size: 20px 24px;
    background-image: radial-gradient(#333 1.5px, transparent 0);
    width: 100%;
    height: 220px;
    position: absolute;
    opacity: 1;
    top: -2.5rem;
    float: left;
    padding-left: 0;
    margin-left: 10px;
    left: 0;
    z-index: 0;
}

.demos-camera {
    display: none;
}

.outdoor {
    height: 12rem;
	margin-left: 0px;
	margin-top: 2rem;
	width: 100%;
	/* background-color: aqua; */
	/* border-radius: 35px; */
	opacity: 1;
}

.bannercam1 {
    margin-left: -40px;
    margin-top: 400px;
}

.case-head {
    display: none;
}

.scrip-IMG {
    display: none;
}

.camerasec .container {
    padding: 0;
    width: 100%;
}

.camerasec .row.con-bordersec {
    width: 100%;
    border: 0;
}

.camera-head {
    width: 80%;
    margin: 0 auto;
}

.camera-head h2 {
    margin-left: 0;
}

.camera-head p {
    padding-left: 0;
    padding-right: 0;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 1rem;
}

.col-sm-8col-lg-8 {
    margin-top: -300px;
    margin-left: 70px;
}

.home1-img,
.home-img {
    display: none;
}

.camera {
    width: 100%;
    margin-top: 350px;
}

.camerasec .camera-libary {
    margin: 0 auto !important;
    width: 100%;
    padding: 0;
    display: block;
    
}

.bannercam1 {
    margin-left: -40px;
}

.camera-libary li {
    width: 100%;
    margin: 0;
    display: block;
    position: relative;
}

.camera-libary li > div div img {
    width: 100px;
    margin-left: 0;
    background-color: transparent;
    margin-top: 0;
    padding-bottom: 7px;
    padding-top: 5px;
    position: absolute;
    /* left: 10px; */
    top: 24px;
}

.camera-libary li > div {
    /* height: auto; */
    margin: 0;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.camera-libary li > div.demos-camera {
    /* padding-bottom: 70px; */
}

.camera-libary li > div h1,
.camera-libary li > div p {
    text-align: left;
    /* padding: 0; */
}

.camera-libary li:nth-child(1),
.camera-libary li:nth-child(3) {
    margin-top: 0;
}

.contactsec-headrow p {
	font-size: 12px;
	color: #1E4671;
	line-height: 16px;
    font-family: 'Lato';
    line-height: 1.4;
    font-weight: 300;
}
.contactsec-form {
	padding-top: 4rem;
}
.contactsec-formhead {
    margin-bottom: 3.5rem;
}
.contactsec-form h2 {
    font-size: 32px;
    font-weight: 500;
    color: #000;
    width: 100%;
    text-align: center;
}
.contactsec-form form input {
    padding-bottom: 10px;
    height: 40px;
}
.contactsec-form form label {
    font-size: 20px;
    line-height: normal;
}
.contactsec-form form label::before {
    color: transparent;
}
.floating-label {
    margin-bottom: 4rem;
}

.contactsec-form input.tbtn {
    background-color: #172738;
    border: 0;
    padding: 0 17px 0;
    width: auto;
    font-size: 14px;
    margin-left: 21px;
    margin-top: 200px;
}
p.contactsec-brntitle {
    color: #17416D;
    font-weight: bold;
    padding-bottom: 3px;
    font-size: 20px;
    text-align: left;
}
.addrCol p {
    font-size: 16px;
    line-height: 0.2;
    color: #56626E;
    line-height: 5px;
}
.addrCol hr {
    width: 113%;
}

.addrCol p.contactsec-brntitle {
    color: #17416D;
    font-weight: bold;
    padding-bottom: 3px;
    font-size: 20px;
    text-align: left;
}
.addrCol p {
    font-size: 16px;
    color: #56626E;
    line-height: 5px;
}
.maskrow {
    position: absolute;
    z-index: 0;
    margin-right: 3rem;
    margin-top: -24rem;
    margin-left: 78%;
}
.maskrow img {
    float: right;
    width: 300px;
    height: 19.5rem;
}

.contactsec-form form .floating-form .floatinglabelhead {
    text-align:center;
    margin-left: 60px;
    font-size:36px
}

/*footer css*/

/*footer style ends*/
	
	
}