html.scrollfixhide {
    overflow-x: hidden !important;
}
section.benefit-section {
 /*  background-image: linear-gradient(#CAE0F0, #FEFEFE); */
    padding-top: 0rem;
    padding-bottom: 7.5rem;
}
.benefit-info-pad {
    padding-left: 6rem;
}
.benefitContent p {
      font-size: 19px;
    line-height: 1.5;
    /* font-weight: 400; */
    font-weight: 300;
    padding-bottom: 8px;
    font-family: 'Lato';
    letter-spacing: -0.7px;
}
.benefitContent {
    padding-bottom: 3rem;
}
.benefit-count {
    font-size: 38px;
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #1f7ad9;
    text-align: center;
    line-height: 40px;
    display: inline;
}
.benefit-grp1 {
    display: flex;
}
.benefit-grp2 {
    display: flex;
}
.benefit-grp3{
    display: flex;
}
.benefit-icon1 {
   width: 40%;
    margin-top: -3px
}
.benefit-icon2 {
       width: 40%;
    margin-top: -11px;
}
.benefit-icon3 {
    width: 40%;
    
}
.benfit-con1 {
    padding-left: 6px;
}
hr .border{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
	    width: 144%;
    margin-left: 0.7rem;
	      margin-top: 1rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.border {
       border-bottom: 1px solid #dee2e6!important;
    margin-left: 12px;
    width: 143%;
    margin-bottom: 4px;
}
.countCnt-p {
    font-size: 15px;
    color: #000000;
    line-height: 1;
	    padding-top: 10px;
font-weight: 300;
    font-family: 'Lato', sans-serif;
}
.custcnt {
    text-align: center;
}
.custcnt .row > [class*="col"] {
    padding-left: 0px;
    padding-right: 20px;
}

.sec2-cont {
    padding-top: 4rem;
}
.benefit-dtls ul {
    list-style: none;
}
.benefit-dtls h2 {
font-size: 18px;
    font-weight: 600;
    padding-left: 0.5rem;
    overflow: visible;
  
    letter-spacing: -0.16px;
     color: #17416D; 
    font-family: 'Lato';
}
.benefit-dtls p {
    font-size: 15px;
    line-height: 1.2;
    padding-left: 0.7rem;
    color: #17416D;
    font-weight: 300;
    letter-spacing: -0.2px;
    font-family: 'Lato';
    padding-bottom: 5px;
}
.benefit-dtls {
        background-color: #ffff;
    margin-left: 0rem;
    margin-right: -3rem;
    padding-top: 1rem;
    padding-right: 5rem;
}

.benefit-title {
   color: #147AE3;
    font-size: 26px;
    padding-left: 2.5rem;
    font-family: 'Lato';
    font-weight: 300 !important;
}
.benefit-Bg {
    padding-top: 1rem;
	    position: absolute;
}
.benefit-dtls li {
  padding-bottom: 1.2rem;
}
.section3 li {
    padding: 1rem;
    width: 45%;
    display: inline-block;
}
tr {
  vertical-align: top;
}
.post {
    width: 500px;
  display: inline-flex;
}

.sec3-imgwrap {
     position: relative;
    width: 100px;
    height: 100px;
}
.sec3-imgwrap img {
  position: absolute;
    left: -47px;
	bottom: -70px;
}
#page-wrap td {
    padding-left: 5px;
    padding-right: 5px;
}
.sec3-bannercontent {
    width: 70%;
	margin-top: 19px;
    margin-right: 50px;
    margin-left: -6px;
}
.sec3-imgwrap3{
	width: 50%;
    float: right;
}
div#page-wrap {
    overflow-x: auto;
	overflow-y: hidden;
}
.section3 td:nth-child(even) .post{
    background: #2B4057;
	padding-top:30px;
    padding-bottom: 30px;
}
.section3 td:nth-child(even) .sec3-title{
	font-size: 22px;
	line-height: 0;
	 color: #FFFFFF;
	font-weight:500;	
}
.section3 td:nth-child(even) .sec3-prof{
	font-size: 10px;
    color: #99CDF4;
    font-weight: 500;	
}
.section3 td:nth-child(even) .sec3-cmts{
	font-size:9px;
	color: #E2E5E8;
	font-weight:500;	
}
.section3 td:nth-child(odd) .post{
    background: #FFFFFF;
	padding-top: 30px;
    padding-bottom: 30px;
}
.section3 td:nth-child(odd) .sec3-title{
	font-size: 22px;
	line-height: 0;
	 color: #17416D;
	font-weight:500;	
}
.section3 td:nth-child(odd) .sec3-prof{
	font-size: 10px;
    color: #17416D;
    font-weight: 400;	
}
.section3 td:nth-child(odd) .sec3-cmts{
	font-size:9px;
	color: #17416D;
	font-weight:500;	
}
.sec3-cmts p {
    line-height: 1.5;
}
.sec3-comma {
    margin-top: 2px;
}
.sec3-comma img {
    width: 80%;
    padding-left: 12px;
}
section.section3 {
    background: #F4FAFF;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

section.sidemenu-mainrow {
    width: 10%;
    font-size: 7px;
    font-weight: 500;
    top: 40%;
    position: fixed;
    background: transparent;
    margin-left: -23px;
	z-index: 10;
}
.sidemenu-mainrow li {
    background: #ffff;
    opacity: 0.6;
    margin-bottom: 7px;
    padding-top: 4px;
    height: auto;
    width: 115px;
    padding: 10px;
	display: block;
	position: relative;
}
.sidemenu-active {
    opacity: 1 !important;
    background: #ffff;
    font-weight: 900;
}
.sidemenu-mainrow li .dot {
    position: absolute;
    left: -6px;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #ffff;
    border-radius: 50%;
    border: 2px solid #93B4CC;
    display: inline-block;
    margin-right: 4px;
}
.sidemenu-mainrow li p {
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 9px;
    color: #19436F;
    font-weight: 600;
    padding-left: 8px;
}
.sidemenu-mainrow li.sidemenu-active p {
    font-weight: 700;
}
.sidemenu-div ul {
    list-style: none;
}
.sidemenu-div li p {
    padding-top: 2px;
}
li.sidemenu-active p {
    font-weight: 700;
}
li.sidemenu-active span {
   background-color: #91D5FF;
}
.consumer.target {
    position: relative;
}
.col-sm-12.col-md-6.col-lg-6.sec-1 {
    background-color: #F4FAFF;
    height: 40rem;
}
.col-sm-12.col-md-6.col-lg-6.sec-2 {
    background-color:#F4F4F4;
    height: 40rem;
}



.head h2 {
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: -2.8px;
    color: rgba(23, 65, 109, 1);
   
    font: normal normal 100 41px/26px Nolan;
    margin-top: -7rem;
	    margin-left: 5rem;
		    font-family: 'nolanthin';
    font-weight: 600;
}
.head2 h2 {
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: -2.8px;
    color: rgba(23, 65, 109, 1);

    font: normal normal 100 41px/26px Nolan;
    margin-top: -7rem;
	margin-right: 13rem;
	   font-family: 'nolanthin';
    font-weight: 600;
}
.consumer.target .container {
    padding-top: 115px;
}
.consumer.target .row.con-border {
    margin-bottom: 70px;
}
.sec1-con {
    text-align: center;
}
p.inside {
       font-size: 25px;
    text-align: center;
    color: rgba(23, 65, 109, 1);
    margin-top: 3rem;
    font-weight: 100;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Nolan';
    margin-left: 5rem;
    margin-bottom: 30px;
}
p.outside {
    line-height: 1.5;
    font-family: 'Lato';
    font-weight: 100;
    color: rgba(23, 65, 109, 1);
    font-size: 17px;
    text-align: center;
    margin-left: 7rem;
    margin-right: 1rem;
    letter-spacing: -0.28px;
}
p.inside-1 {
      font-size: 25px;
    text-align: center;
    color: rgba(23, 65, 109, 1);
    margin-top: 3rem;
    font-weight: 100;

    padding-right: 11rem;
    font-family: 'Nolan';
	    margin-bottom: 30px;
}
p.outside-1 {
        line-height: 1.5;
    font-family: 'Lato';
    font-weight: 100;
    color: rgba(23, 65, 109, 1);
    font-size: 17px;
    text-align: center;
    margin-right: 11rem;
}
img.mask-IMG {
   
    margin-left: -28rem;
    margin-top: -7rem;
    height: 19rem;

}
.more {
      color: rgba(23, 65, 109, 1);
    border-style: hidden;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 600;
    background-color: rgba(244, 250, 255, 1);
    margin-left: 5rem;
}
.carousel-caption.align-caption.aos-init.aos-animate p {
    margin-left: 40rem;
    line-height: 1.5;
    font-size: 36px;
	    color: white;
    font-weight: 500;
}
@media (min-width: 991px){
	.navbar-dropdown .navbar-logo{
    margin-left: 35px;
}
.row.con-border {
         border: 1.5px solid #D7E8F4;
    margin-left: 53px !important;
margin-right: 0px !important;
    height: 30rem;
    padding-left: 49px;
    padding-right: 32px;
      margin-bottom: 110px
	
}

.bus-border > [class*="col"] {
    padding-left: 40px;
    padding-right: 16px;
}
.benefitsectionbg img {
    /* width: 548px; */
    /* height: 226px; */
          
    height: 323px;
	display:block;
}
/*20-9 banner content style*/
.cid-scOpuhkrIo .carousel-caption {
    top: unset;
  
    width: 400px;
    position: absolute;
    padding: 1.5rem;
    height: auto;
    display: block;
	bottom: 80px;
}

.cid-scOpuhkrIo .carousel-caption p {
    font-size: 24px;
    width: 100%;
    display: block;
    padding: 0;
	position: unset;
}
.captionimage-wrapper {
    width: 65px;
    position: absolute;
    background-color: #155598;
    border: none;
    cursor: pointer;
    height: auto;
    right: -65px;
    bottom: 0;
    padding: 15px 20px 15px;
}
.benefitsectionbg img {
height: 400px;
display: block;
position: absolute;
right: -75%;
width: 159%;
}
.benefit-Bg .benefit-title p, .benefit-Bg .benefit-dtls {
    z-index: 2;
    position: relative;
}


.cid-scOpuhkrIo .carousel-caption p{
	margin:0;
	font-family: 'Lato';
}
.partnersec .container{
	    padding-right: 0px !important;
}
section#section3 .container {
    padding-right: 0px;
}
section#section2 .container {
    padding-right: 0px;
}
.sec3col {
	padding-right: 7px !important;
}
.col-4.cntmar {
    margin-left: -11px;
}
.col-sm-6.col-md-6.col-lg-6.innercntcol {
    margin-left: -16px;
}
}
@media (max-width: 991px) {
	
	.row.con-border {
           border: 1.5px solid #D7E8F4;
    /* margin-top: -1px; */
    margin-left: 82px;
    /* margin-right: 0px; */
   
    padding-left: 49px;
    padding-right: 32px;
       margin-bottom: 110px
	
}
.benefitsectionbg img {
    /* width: 548px; */
    /* height: 226px; */
       
    height: 323px;
	display:block;
}
}	
@media (max-width: 768px) {
	
.benefitsectionbg img {
    /* width: 548px; */
    /* height: 226px; */
       
    height: 323px;
	display:none;
}
.consumer.target .head{
	max-width:100%;
	margin-left: 0;
left: 0;
}
.consumer.target .container {
    padding-top: 0px;
}
.row.bus-border .col-lg-6{
	width: 100% !important;
	max-width: 100% !important;
}

.carousalCol{
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.benefit-count {
    font-size: 36px !important;
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #22A2FF;
    text-align: center;
    line-height: 40px;
    display: inline;
}

}

@media (max-width: 991px) {
	
}	


img.run-IMG {
    width: 60%;
    margin-left: 8.5rem;
 
	    border-radius: 50px;
}

section.consumer {
  
}
.container.body {
    margin-left: 230px;
    padding-right: 93px;
}
.col-sm-6.col-lg-6 .consumer-con {
    padding-right: 7px;
}

img.line-IMG 
{
       margin-left: -7rem;
    width: 21%;
    position: absolute;
    margin-top: -51px;

}
section.business {
   background-color: #c8dff0;
    height: auto;
    padding-top: 140px;
	position: relative;
	padding-bottom: 80px;
}
.business.target .container {
	/*width: 84%;
	max-width: 84%;*/
    margin: 0 auto;
}
.row.bus-border .col-lg-6 {
    width: 50%;
    max-width: 50%;
}

.tit-bus h2 {
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: -2.8px;
    color: rgba(23, 65, 109, 1);
    opacity: 30%;
    font: normal normal 300 44px/31px Nolan;
}}
.row.bus-border {
    border-style: solid;
    border-color: #ffff;
    margin-top: -26px;
    margin-left: 55px;
   
    padding-left: 49px;
    padding-right: 32px;
    margin-bottom: 0;
    padding-top: 47px;
    padding-bottom: 39px;
}
.dotGridHome {
         background-size: 19px 27px;
    background-image: radial-gradient(#c8e1f5 1.5px, transparent 0);
    width: 34%;
    height: 59%;
    position: absolute;
    opacity: 1;
    margin-left: 25rem;
    margin-top: -35rem;
    top: 400px;
    z-index: 0;
}
.col-sm-6.col-lg-6.sec-2 {
    background-color: rgba(244, 244, 244, 1);
    height: 42rem;
}
img.people-IMG {
          width: 60%;
  
    border-radius: 50px;
}
p.bus-inside {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Lato';
    font-weight: 300;
    margin-top: 35px;
}
.col-sm-6.col-lg-6.bus-pad {
    padding-left: 48px;
}
p.bus-head {
       font-size: 27px;
    font-weight: 400;
}
button.click {

    color: rgba(23, 65, 109, 1);
    border-style: hidden;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 600;
    background-color: rgba(244, 244, 244, 1);
    margin-left: -10rem;
}


button.click1 {
    background-color: white;
    border-style: none;
    margin-left: 31rem;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1.01px;
}
.partnerdiv {
   /* margin-left: 8rem;
    margin-right: 7rem;*/
	position: relative;
}
.partner-highlighttxt {
       text-align: center;
    color: #000000;
    font-size: 40px;
    margin-bottom: 2rem;
    font-weight: 100;
}
.partner-highlighttxt p {
    /* line-height: 1; */
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
	font-size: 36px;
    font-family: 'nolanthin';
    
}
.partner-img {
    margin-top: -1rem;
	    float: none;
}

.partnersec-txt p {
        font-size: 20px;
    color: #000000;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Lato';
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 2rem;
}
img.partnersec-scrip-img {
       width: 10%;
    /* padding-right: 1px; */
    /* margin-left: -4rem; */
    margin-top: -56px;
    align-items: right;
    height: 3.5rem;
	position: absolute;
	right:5%;
}
section#section5 {
    padding-bottom: 4rem;
	    padding-top: 0rem;
}
.benefitsectionbg {
    padding-left: 1rem;
    margin-top: -0.5rem;
}

.arrow-align {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-top: 1rem;
	    cursor: pointer;
}
.arrow-align img {
    width: 30px;
}
.sec3-arrowleft{
	    transform: rotate(180deg);
    margin-right: 13px;
}
.sec3-arrowright{

}

@media (max-width: 767px) {
	.benefit-dtls p{
	display: none;
}
.benefit-dtls h2 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 0.5rem;
    overflow: visible;
    /* border: 3px #E9F5FF solid; */
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    letter-spacing: -0.16px;
    /* color: #17416D; */
    font-family: 'Lato';
}
.benefit-dtls {
    background-color: #ffff;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1.5rem;
    padding-right: 0em !important;
  /*  align-content: center;
    text-align: center; */
}
.benefit-dtls ul{
	    padding-left: 0px !important;
}


.consumer.target .head {
    position: absolute;
    top: 0;
    margin-left: 0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}
.partnersec-txt p {
       font-size: 20px;
    color: #000000;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Lato';
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 2rem;
}
button.click1 {
    background-color: white;
    border-style: none;
    margin-left: 31rem;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1.01px;
    margin-left: 7.3rem;
}
.partner-highlighttxt p {
    padding-bottom: 0.7rem;
    padding-top: 5.7rem;
    font-size: 23px;
    font-weight: 100;
    margin-left: 65px;
    font-family: 'nolanthin';
    font-weight: 600;
}
.col-sm-12.col-md-6.col-lg-6.sec-1 {
    background-color: #F4FAFF;
    height: 47rem;
}
.col-sm-12.col-md-6.col-lg-6.sec-2 {
       background-color: #F4F4F4;
    height: 58rem;
}
.dotGridHome{
	display: none;
}
}

