.cid-s48OLK6784 nav.navbar {
  position: fixed;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: 'Nolan', sans-serif;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}

.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}

.cid-s48OLK6784 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #292f33 !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}

.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #292f33;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}