.nicescroll-rails {
    overflow-x: hidden;
}
@media (max-width: 992px){
	.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img ,.cid-s48OLK6784 .navbar .navbar-logo img{
    height: 2rem !important;
    position: relative;
    top: -2px;
}
.cid-s48OLK6784 .navbar .navbar-toggler {
    color: #17416D;
}
.benefit-count {
font-size: 1.5em;}	.benefitContent {
    padding-bottom: 1rem;
}
.countCnt-p {
    font-size: 18px;
    padding-top: 0;
}
.benefitsectionbg {
padding-left: 0;}
.benefit-dtls {
    background-color: #ffff;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1.5rem;
    padding-right: 2em;
}
section.sidemenu-mainrow {
    display: none;
}

.cid-scOpuhkrIo .carousel-caption {
    width: 19rem;bottom: 9.5rem;
}
.carousel-caption p {
    font-size: 16px;
    line-height: 1.3;
	font-family:'Lato'
}
.cid-scOpuhkrIo .carousel-control {
    bottom: 4rem;
}
.row.con-border {
    margin-left: 0;  
}
.row.con-border {
    padding-left: 0em;
    padding-right: 0em;
}
p.inside {
    margin-left: 0;
    font-size: 19px;
    margin-top: 25px;
}
p.outside {
    margin-left: 0;
    margin-top: 1em;
    font-size: 16px;
}
img.run-IMG {
    margin-top: 60;
    margin-left: 0;
    padding-left: 0px;
    width: 100%;
    height: auto;
}
img.mask-IMG {
    display: none;
}
section.business {
    background-color: #c8dff0;
    height: auto;
    padding-top: 2em;
}
.row.bus-border {
    border-style: solid;
    border-color: #ffff;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 0;
}
p.bus-head {
    font-size: 18px;line-height: normal;
margin-top: 1em;}
.partnerdiv {
    margin-left: 0;
    margin-right: 0;
}
.partner-highlighttxt {
    width: 80%;
    margin-left: 0;
}
.partnersec-txt {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
section#section5 {
    padding-bottom: 0rem;
    padding-top: 4rem;
}
.container.footermar {
    margin-left: 0rem;
}
.cid-sckHfhtRnm .list {
    margin-bottom: 1rem;
}
.tit-bus {
    width: 70%;text-align: left;
    padding-left: 1em;
}
section.benefit-section {
       padding-top: 0rem;
}
section.business {
	padding-bottom: 0px;
}
}
@media (max-width: 768px){
	.benefit-title {
    color: #147AE3;
    font-size: 36px;
     padding-left: 0rem;
    padding-top: 2rem;
    font-family: 'Lato';
    font-weight: 300 !important;
    text-align: center;
 }
 .benefit-dtls img {
    width: 40%;
}
.border{
	display: none;
}
.benfit-con1 {
    padding-left: 0px;
    padding-top: 11px;
    margin-left: -52px;
}
.benefit-dtls li {
    padding-bottom: 30px;
}
.benefit-dtls h2 {
	    font-weight: 900;
}
.benefit-Bg{
	    position: relative;
}
.benefit-icon2{
	    margin-top: -15px;	
}
.benefit-icon1{
	  margin-top: 0px;	
}
.cid-scOpuhkrIo .carousel{
	       height:100%;
} 	
section.benefit-section {
    padding-bottom: 6rem;
}
.head h2 {
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: -2.8px;
    color: rgba(23, 65, 109, 1);
   
    font: normal normal 100 41px/26px Nolan;
    margin-top: -5rem;
	    margin-left: 5rem;
		    font-family: 'nolanthin';
    font-weight: 600;
}
.head2 h2 {
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: -2.8px;
    color: rgba(23, 65, 109, 1);
    font: normal normal 100 41px/26px Nolan;
    margin-top: 4rem;
    margin-right: 0rem;
	    font-family: 'nolanthin';
    font-weight: 600;
}
img.people-IMG {
    width: 100%;
    border-radius: 50px;
}
p.inside-1 {
    margin-top: 1rem;
     padding-right: 0rem; 
    margin-bottom: 30px;
}
p.outside-1 {
     margin-right: 0rem; 
}
button.click{
	    margin-left: 0rem;
}
.more{
	     margin-left: 0rem;
}
.backdiv2{
	    display: none;	
}
.word {
  
    top: 88px;
    padding-top: 166px;
}
.cid-scOpuhkrIo {
    padding-top: 3rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}
}