.cid-scOpuhkrIo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-scOpuhkrIo .carousel {
  height: 70vh;
}
.cid-scOpuhkrIo .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-scOpuhkrIo .carousel-item,
.cid-scOpuhkrIo .carousel-inner {
  height: 100%;
}
.cid-scOpuhkrIo .mbr-overlay {
  z-index: 1;
}
.cid-scOpuhkrIo .carousel-caption {
     bottom: 3.5rem;
    background: #172738;
    width: 22rem;
}
.cid-scOpuhkrIo .mobi-mbri-arrow-next {
  margin-left: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
.cid-scOpuhkrIo .mobi-mbri-arrow-prev {
  margin-right: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
.carousel-caption p {
       font-size: 22px;
    line-height: 1.3;
}
.carousel-caption.align-caption {
    text-align: left;
    padding-top: 1.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}
.cid-scOpuhkrIo .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
a.carousel-control.carousel-control-prev:hover{
	background: #155598;
	 -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%)
}
a.carousel-control.carousel-control-next:hover{
	background: #155598;
	 -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%)
}
.cid-scOpuhkrIo .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-scOpuhkrIo .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-scOpuhkrIo .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-scOpuhkrIo .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-scOpuhkrIo .carousel-control {
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -1.5rem;
    font-size: 22px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* border: 2px solid #fff; */
    border-radius: 50%;
    transition: all 0.3s;
}
.cid-scOpuhkrIo .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-scOpuhkrIo .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-scOpuhkrIo .carousel-control {
    top: auto;
    bottom: 1rem;
  }
.scrollfixhide {
	overflow-x: hidden !important;
}
  
}
.cid-scOpuhkrIo .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem !important;
}
.cid-scOpuhkrIo .carousel-indicators li {
    max-width: 15px;
    height: 7px;
    width: 7px;
    max-height: 15px;
    margin: 4px;
    background-color: #ffff;
    border-radius: 50%;
    transition: all 0.3s;
	opacity: 1 !important;
}
.cid-scOpuhkrIo .carousel-indicators li.active,
.cid-scOpuhkrIo .carousel-indicators li:hover {
  background-color: #155598;
}
.cid-scOpuhkrIo .carousel-indicators li::after,
.cid-scOpuhkrIo .carousel-indicators li::before {
  content: none;
}
.cid-scOpuhkrIo .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-scOpuhkrIo .carousel-indicators {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .countCnt-p
{
    font-size: 15px;
    color: #000000;
    line-height: 0px;
    font-family: 'Nolan', sans-serif;
}
.benefit-count
{
    font-size: 42px;
    font-family: 'Nolan', sans-serif;
    position: relative;
    color: #1f7ad9;
    text-align: center;
    line-height: 40px;
}
}
@media (max-width: 991px) {
 .countCnt-p
{
    font-size: 12px;
    color: #000000;
    line-height: 0px;
    font-family: 'Nolan', sans-serif;
}
  .benefit-count
{
    font-size: 32px;
    font-family: 'Nolan', sans-serif;
    position: relative;
    color: #1f7ad9;
    text-align: center;
    line-height: 40px;
}
}
.captionimage-wrapper {
    width: 11%;
    position: absolute;
    background-color: #155598;
    border: none;
    /* color: white; */
    padding: 10px 10px;
    /* font-size: 10px; */
    cursor: pointer;
    margin-left: 20.9rem;
    margin-top: -2rem;
}

.custcnt
{
    text-align: center;
}
.countCnt
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.nicescroll-rails-hr {
    display: none !important;
}